# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff:
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries

# Node modules
node_modules/

# Build
build/
dist/

# Dev
.tmp/

# Grunt folder for gh-pages grunt module
.grunt/

# macOS
.DS_store
