!!! 5
%html
  %head
    %meta(charset='utf-8')
    %title Reen
    %link{:rel => :stylesheet, :href => "base.min.css"}
    %link{:rel => :stylesheet, :href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"}

  %body

    %link{:href => '', :rel => 'stylesheet', :type => 'text/css'}