!!! 5
%html
  %head
    %meta(charset='utf-8')
    %title Local microblogging client
    %link{:rel => :stylesheet, :href => "base.min.css"}
    %link{:rel => :stylesheet, :href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"}

  %body
    .container
      .row
        .col-xs-12.col-sm-6.col-md-6.col-lg-4
          %ul.news-list
            %li.news-list__item
              %h3 Automatic Music Generator Jukedeck Wins Le Web Startup Competition
              %img.img{:src => '../img/statement.png', :alt => 'Jukedeck logotypes'}
              %p As per usual the Le Web startup competition has been showcasing a smorgasbord of Europe’s hottest startups this week, and three stood out for the judges. But out of Easysize, Naturalcycles and Jukedeck, it was Jukedeck which won the top prize in the end.
              %button.btn.btn-primary{:title => 'Add new post', :type => 'button'}
                %i.glyphicon.glyphicon-pencil
                Add new post
              %button.btn.btn-danger{:title => 'Remove post', :type => 'button'}
                %i.glyphicon.glyphicon-trash

        .col-xs-12.col-sm-6.col-md-6.col-lg-4
          %ul.news-list
            %li.news-list__item
              %h3 Automatic Music Generator Jukedeck Wins Le Web Startup Competition
              %img.img{:src => '../img/statement.png', :alt => 'Jukedeck logotypes'}
              %p As per usual the Le Web startup competition has been showcasing a smorgasbord of Europe’s hottest startups this week, and three stood out for the judges. But out of Easysize, Naturalcycles and Jukedeck, it was Jukedeck which won the top prize in the end.
              %button.btn.btn-primary{:title => 'Add new post', :type => 'button'}
                %i.glyphicon.glyphicon-pencil
                Add new post
              %button.btn.btn-danger{:title => 'Remove post', :type => 'button'}
                %i.glyphicon.glyphicon-trash

        .col-xs-12.col-sm-6.col-md-6.col-lg-4
          %ul.news-list
            %li.news-list__item
              %h3 Automatic Music Generator Jukedeck Wins Le Web Startup Competition
              %img.img{:src => '../img/statement.png', :alt => 'Jukedeck logotypes'}
              %p As per usual the Le Web startup competition has been showcasing a smorgasbord of Europe’s hottest startups this week, and three stood out for the judges. But out of Easysize, Naturalcycles and Jukedeck, it was Jukedeck which won the top prize in the end.
              %button.btn.btn-primary{:title => 'Add new post', :type => 'button'}
                %i.glyphicon.glyphicon-pencil
                Add new post
              %button.btn.btn-danger{:title => 'Remove post', :type => 'button'}
                %i.glyphicon.glyphicon-trash

        .col-xs-12.col-sm-6.col-md-6.col-lg-4
          %ul.news-list
            %li.news-list__item
              %h3 Automatic Music Generator Jukedeck Wins Le Web Startup Competition
              %img.img{:src => '../img/statement.png', :alt => 'Jukedeck logotypes'}
              %p As per usual the Le Web startup competition has been showcasing a smorgasbord of Europe’s hottest startups this week, and three stood out for the judges. But out of Easysize, Naturalcycles and Jukedeck, it was Jukedeck which won the top prize in the end.
              %button.btn.btn-primary{:title => 'Add new post', :type => 'button'}
                %i.glyphicon.glyphicon-pencil
                Add new post
              %button.btn.btn-danger{:title => 'Remove post', :type => 'button'}
                %i.glyphicon.glyphicon-trash

        .col-xs-12.col-sm-6.col-md-6.col-lg-4
          %ul.news-list
            %li.news-list__item
              %h3 Automatic Music Generator Jukedeck Wins Le Web Startup Competition
              %img.img{:src => '../img/statement.png', :alt => 'Jukedeck logotypes'}
              %p As per usual the Le Web startup competition has been showcasing a smorgasbord of Europe’s hottest startups this week, and three stood out for the judges. But out of Easysize, Naturalcycles and Jukedeck, it was Jukedeck which won the top prize in the end.
              %button.btn.btn-primary{:title => 'Add new post', :type => 'button'}
                %i.glyphicon.glyphicon-pencil
                Add new post
              %button.btn.btn-danger{:title => 'Remove post', :type => 'button'}
                %i.glyphicon.glyphicon-trash
