.news-list {
  display: grid;
  //overflow: hidden;
  //width: 100%;
  //padding: 0 20px;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  grid-template-columns: 33% 33% 33%;

  @media screen and (min-width:768px) {
    //column-count: 2;
  }

  @media screen and (min-width:992px) {
    //column-count: 3;
  }

  @media screen and (min-width:1200px) {
    //column-count: 4;
  }
}
