.breadcrumbs {
    display: flex;
    flex-direction: row;
    gap: .4rem;
}

.crumb {
    &::after {
        content: '>';
        margin-left: .4rem;
    }

    &:last-child {
        &::after {
            content: '';
        }
    }
}
