.breadcrumbs {
  display: flex;
  flex-direction: row;
  gap: 0.4rem;
}

.crumb {
  &::after {
    content: '>';
    margin-left: 0.4rem;
  }

  &:last-child {
    &::after {
      content: '';
    }
  }
}
