extends layout.pug

block head
  link(href='main.css', rel='stylesheet')

block scripts
  script(src='http://code.jquery.com/jquery-1.11.0.min.js')
  script(src='save-to-local-storage.js')
  script(src='base.js')
