doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Local microblogging client
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    block head
  body.body
    .container
      .card.mb-3
        img#preview.card-img-top(src='#', alt='Card image cap')
        .card-block
          h3.card-title What's new?
          form(role='form')
            .form-group
              input.form-control.js-new-post__heading(placeholder='Your heading', type='text')
            .form-group
              textarea.form-control.js-new-post__main-text(placeholder='Write something', rows='3')
            input.btn.btn-default.new-post__add-image(type='file', title='Add image', onchange="readURL(this);")
            button.btn.btn-primary.new-post__submit(title='Add new post', type='button', onclick='onSubmit()')
              i.glyphicon.glyphicon-ok
              | Post it
      .card-columns.js-news-list
    block scripts
